*{
    margin: 0;
    padding: 0;
}

header{
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: brown;
    padding-bottom: 3vh;
    padding-top: 1vh;
}
h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header1{
    display: flex;
    justify-content: space-between;
}
#header1_1{
    display:flex;
    gap: 4vw;
    margin-top: 0.5vh;
}

#header1_1 >input{
    width:25vw;
    padding-left: 1rem;
    font-size: 1rem;
    border: 0;
    border-radius: 0.3rem;
}

#header1_2{
    display: flex;
    gap:4vw;
    align-items: baseline;
    margin-top: 1vh;
}

#header1_2 select{
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background-color: brown;
    border: 0;
}

#header1_2 button{
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    background-color: brown;
    color: white;
}

#header2{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}

#header2_1{
    display: flex;
    gap:1vw;
}

#header2_2{
    display: flex;
    gap:1vw;
}

#header2 button{
    font-size: 1rem;
    border: 0;
    background-color: brown;
    color: white;
    cursor: pointer;
}

@media (max-width:675px){
    #header2_1,#header2_2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#main1{
    display: flex;
    margin-top: 6vh;
    overflow-x: scroll;
    gap:2rem;
}

.rec{
    height: 37vh;
    width: auto;
    border-radius: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#recommended{
    display: flex;
   margin-left: 8vw;
   margin-right: 8vw;
    overflow-x: scroll;
    gap:4rem;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

@media(max-width:450px){
    #recommended{
        flex-direction: column;
    }
}

#en{
    margin-left: 8vw;
    margin-right: 8vw;
    width: 83.7vw;
}

#r{
    padding-left: 8vw;
    margin-top: 6vh;
}

#ev{
    padding-left: 8vw;
    margin-top: 10vh;
}

#best{
    margin-left: 8vw;
    margin-right: 8vw;
    display: flex;
    gap: 2rem;
    margin-bottom: 6vh;
    overflow-x: scroll;
}

.comdy{
    height: 35vh;
    width: auto;
}

#prem{
    background-color: rgb(31, 31, 83);
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 4vh;
    margin-bottom: 6vh;
    padding-bottom: 8vh;
}

#prem1{
    margin-left: 8vw;
}

#prem1 h2{
    color: white;
    font-size: 1.6rem;
}

#prem p{
    color: white;
}

#prem2{
    display: flex;
    margin-left: 8vw;
    margin-right: 8vw;
    gap:2rem;
    overflow-x: scroll;
    align-items: baseline;
}

#prem2 h2{
  color: white;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p{
    height: 20vw;
    width: auto;
    padding-bottom: 1vh;
    border-radius: 1rem;
}